# Ignorar todos os Makefiles do projeto
**/Makefile linguist-detectable=false
**/*.mk linguist-detectable=false

# Ignorar arquivos gerados pelo Flutter
SRC/App/linux/** linguist-vendored
SRC/App/windows/** linguist-vendored
SRC/App/macos/** linguist-vendored
SRC/App/build/** linguist-generated
